<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8"/>
      <link rel="preconnect" href="https://fonts.gstatic.com"/>
      <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet"/> 
      <title>{% block title %}{% endblock %}Humle</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    </head>
  <body>
    <div class="head">
      <h1>Humle</h1>
    </div>
    <nav>
      <div id="menu">
        <ul>
            <li><a href="/">Front</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create">New</a></li>
            <li><a href="/list">List</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </body>
</html>